@font-face {
  font-family: "Amagro";
  src: local("Amagro"), url(fonts/Amagro.ttf) format("truetype");
}

@font-face {
  font-family: "Alegreya";
  src: local("Alegreya"), url(fonts/Alegreya.ttf) format("truetype");
}

@font-face {
  font-family: "Alegreya Sans SC";
  src: local("AlegreyaSansSC"), url(fonts/AlegreyaSansSC.ttf) format("truetype");
}

#progress {
  background: url(/elements/progress-background.svg) repeat-x 50%;
  background-size: auto 3px;
  width: 13.75rem;
  margin: 0 0.625rem;
  height: 3px;
  border: none;
  color: #000;
  appearance: none;
}
